* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    height: 100%;
    background: #1B262C ;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
}
.main-container {
    min-height: 100vh;
    width: 100vw;
    margin: 0;

    display: grid;
    align-items: start;
    grid-template-columns: 1fr 100px;
    grid-template-rows:1fr;
    
}

.main {
    color: #FFFFFF;
    display: flex; 
    justify-content:center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

/* Hero-section */

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 1rem;
    width: 100%;
}

.hook-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 140ch;
    gap: 0.1rem;
    padding-left: 2rem;
}

.hook {
    font-family: "Hepta Slab", serif;
    font-weight: 500;
    font-size: 100px;
}

.hook-colored {
    font-family: "Hepta Slab", serif;
    font-weight: bolder;
    color: #3282B8;
    font-size: 100px;

    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    
    width: max-content;           
    max-width: 0;

    border-right: 5px solid white;
    padding-right: 6px;

    /* text-decoration: underline;
    text-decoration-color: white;
    text-underline-offset: 20px; */

    animation: 
        typing 7s steps(13, end) infinite,  
        blink  0.8s step-end infinite;
}

@keyframes typing {
    0%          { max-width: 0; }
    30%         { max-width: 100%; }
    70%         { max-width: 100%; }
}

@keyframes blink {
    from, to    { border-color: transparent; }
    50%         { border-color: white; } 
}

.contact-list {
    display: flex;
    align-items: flex-start;
    width: 100%;
    max-width: 130ch;
    gap: 1.5rem;
    border-top: 5px solid whitesmoke ;
    padding: 1rem 1rem;
}

.icon {
    color: white;
    font-size: 40px;
}

/* about-me-section */

.about-me-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    gap: 3rem;
    margin: 2rem auto;
}

.image-portrait-resume-section {
    width: 100%;
    max-width: 400px;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

}

.image-portrait-resume-section img {
    width: 88%;
    height: auto;
    object-fit: cover;
}

.image-portrait-resume-section button {
    width: 35%;
    height: auto;
    color: white;
    padding: 1.5vh;
    background: #3282B8;
    border: none;
    border-radius: .4rem;
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
}

.about-me-info {
    width: 100%;
    max-width: 50rem;
    margin: 0 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
}

.about-me-header {
    font-family: "Hepta Slab", serif;
    text-transform: uppercase;
    letter-spacing: 1rem;
    font-weight: bolder;
}

.about-me-text {
    font-family: "Hepta Slab", serif;
    font-weight: 500;
    font-size: 1.8rem; 
}

.about-me-skills {
    display: flex;
    align-items: flex-start;
    gap: 5rem;
}

.about-me-skill-card {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    font-size: 1.1rem;
    font-family: "Hepta Slab", serif;
    text-transform: uppercase;
    font-weight:600;
    border-left: .3rem solid #BC7431;
    padding: 2vh;
}

/* Skils */

.skills-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    padding: 4rem 1rem;
    gap: 2.5rem;
}

.skills-header-text-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.skills-header {
    display: flex;
    justify-content: center;
}

.skills-text {
    display: flex;
    justify-content: center;
}

.skills-header h1{
    font-family: "Hepta Slab", serif;
    font-size: clamp(1.8rem, 3vw, 5rem);
    font-weight: bolder;
    letter-spacing: 1rem;
    text-transform: uppercase;
    color: white;
    text-align: center;
    margin: 0;
}

.skills-text p {
    font-family: "Hepta Slab", serif;
    font-weight: 500;
    font-size: 1.5rem;
}

.text-bold {
    font-family: "Hepta Slab", serif;
    font-weight: bolder;
    font-size: 1.5rem;
    color: #3282B8;
}

.skills-grid {
    width: min(1000px, 100%);
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
}

.skill-icon {
    --bg-default: #0f1a20;
    --bg-hover: #e34c26;
    --text-color: white;
    --icon-opacity: 0;
    --text-translate: 0;
    
    aspect-ratio: 1/1;
    width: 180px;
    min-width: 140px;
    background:var(--bg-default);
    border: 1px solid #2a3b47;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    font-family: "Hepta Slab", serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.1rem;

}

.skill-icon span {
    position: relative;
    z-index: 2;
    transition: transform 0.45s ease, opacity 0.45s ease;
    transform: translateY(var(--text-translate));
}

.skill-icon::before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--bg-hover);
    transform: translateX(100%);
    transition: transform 0.45s cubic-bezier(0.16, 1, 0.3, 1);
    z-index: 1;
}

.skill-icon::after {
    content: "";
    position: absolute;
    inset: 0;
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    opacity: var(--icon-opacity);
    transition: opacity 0.5s ease 0.1s;
    z-index: 2;
    pointer-events: none;
}

.skill-icon::after {
  background-image: var(--icon);
}

.skill-icon:hover {
    --bg-default: transparent;
    --text-translate: 300%;
    --icon-opacity: 1;
}

.react-text:hover {
    color: #61dafb;
}

.next-text:hover {
    color: transparent;
}

.skill-icon:hover::before {
    transform: translateX(0);
}

.skill-icon:hover span {
    opacity: 0.9;
}



/* sidebar */

.sidebar {
    color: #FFFFFF;
    position: sticky;
    top: 0;
    bottom: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.sidebar nav {
    height: 100%;
    width: 5vw;
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: space-around;
    transform: translate 0.3s ease ;

    scroll-target-group: auto;
}

.sidebar a {
    writing-mode:  vertical-lr;
    text-orientation: mixed;
    font-family: "Hepta Slab", serif;
    font-size: 1.1rem;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    white-space: nowrap;
    padding: 2vh 1vh;

    transform: rotate(-180deg);

    transition: 
        color 0.35s ease,
        font-weight 0.3s ease,
        transform 0.4s ease,
        border-left 0.35s ease;
}

.sidebar a:hover {
    color: #3282B8;
    font-weight: 900;
    transform: rotate(-180deg) translateX(12px);
    border-left: 3px solid #e34c26;
}

.sidebar a:target-current {
    color: #3282B8;
    font-weight: 900;
    transform: rotate(-180deg) translateX(12px);
    border-left: 3px solid #e34c26;
}






