* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background: #1B262C ;
}

body {
    min-height: 100vh;
}
.main-container {
    height: 100vh;
    width: 100vw;
    margin: 0;

    display: grid;
    grid-template-columns: 1fr 100px;
    grid-template-rows:1fr;
}

.main {
    color: #FFFFFF;
    display: flex; 
    justify-content:center;
    align-items: center;
}

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    gap: 80px;
}

.hook {
    font-family: "Hepta Slab", serif;
    font-weight: 500;
    font-size: 100px;
}

.hook-colored {
    font-family: "Hepta Slab", serif;
    font-weight: bolder;
    color: #3282B8;
    font-size: 100px;

    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    
    width: max-content;           
    max-width: 0;

    border-right: 5px solid white;
    padding-right: 6px;

    text-decoration: underline;
    text-decoration-color: white;
    text-underline-offset: 20px;

    animation: 
        typing 7s steps(13, end) infinite,  
        blink  0.8s step-end infinite;
}

@keyframes typing {
    0%          { max-width: 0; }
    30%         { max-width: 100%; }
    70%         { max-width: 100%; }
}

@keyframes blink {
    from, to    { border-color: transparent; }
    50%         { border-color: white; } 
}

.contact-list {
    display: flex;
    justify-content: left;
    gap: 25px;
}

.icon {
    color: white;
    font-size: 40px;
}

/* sidebar */

.sidebar {
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
}

.sidebar nav {
    height: 100%;
    display: flex;
    align-items: center;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.sidebar li{
    writing-mode:  vertical-rl;
    text-orientation: mixed;
    font-family: "Hepta Slab", serif;
    font-size: 1.1rem;
    font-weight: 500;
    text-transform: uppercase;
    white-space: nowrap;

    transform: rotate(180deg);
}






