* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    height: 100%;
    background: #1B262C ;
}

body {
    min-height: 100vh;
}
.main-container {
    min-height: 100vh;
    width: 100vw;
    margin: 0;

    display: grid;
    align-items: start;
    grid-template-columns: 1fr 100px;
    grid-template-rows:1fr;
    
}

.main {
    color: #FFFFFF;
    display: flex; 
    justify-content:center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

/* Hero-section */

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 3rem;
    width: 100%;
}

.hook-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 140ch;
    gap: 0.1rem;
}

.hook {
    font-family: "Hepta Slab", serif;
    font-weight: 500;
    font-size: 100px;
}

.hook-colored {
    font-family: "Hepta Slab", serif;
    font-weight: bolder;
    color: #3282B8;
    font-size: 100px;

    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    
    width: max-content;           
    max-width: 0;

    border-right: 5px solid white;
    padding-right: 6px;

    text-decoration: underline;
    text-decoration-color: white;
    text-underline-offset: 20px;

    animation: 
        typing 7s steps(13, end) infinite,  
        blink  0.8s step-end infinite;
}

@keyframes typing {
    0%          { max-width: 0; }
    30%         { max-width: 100%; }
    70%         { max-width: 100%; }
}

@keyframes blink {
    from, to    { border-color: transparent; }
    50%         { border-color: white; } 
}

.contact-list {
    display: flex;
    align-items: flex-start;
    width: 100%;
    max-width: 140ch;

}

.icon {
    color: white;
    font-size: 40px;
}

/* about-me-section */

.about-me-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    gap: 3rem;
}

.image-portrait-resume-section {
    width: 100%;
    max-width: 400px;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

}

.image-portrait-resume-section img {
    width: 88%;
    height: auto;
    object-fit: cover;
}

.image-portrait-resume-section button {
    width: 35%;
    height: auto;
    color: white;
    padding: 1.5vh;
    background: #3282B8;
    border: none;
    border-radius: .4rem;
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
}

.about-me-info {
    width: 100%;
    max-width: 50rem;
    margin: 0 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
}

.about-me-header {
    font-family: "Hepta Slab", serif;
    text-transform: uppercase;
    font-weight: bolder;
}

.about-me-text {
    font-family: "Hepta Slab", serif;
    font-weight: 500;
    font-size: 1.8rem; 
}

.about-me-skills {
    display: flex;
    align-items: flex-start;
    gap: 5rem;
}

.about-me-skill-card {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    font-size: 1.1rem;
    font-family: "Hepta Slab", serif;
    text-transform: uppercase;
    font-weight:600;
    border-left: .3rem solid #BC7431;
    padding: 2vh;
}

/* sidebar */

.sidebar {
    color: #FFFFFF;
    position: sticky;
    top: 0;
    bottom: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.sidebar nav {
    height: 100%;
    display: flex;
    align-items: center;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.sidebar li{
    writing-mode:  vertical-rl;
    text-orientation: mixed;
    font-family: "Hepta Slab", serif;
    font-size: 1.1rem;
    font-weight: 500;
    text-transform: uppercase;
    white-space: nowrap;

    transform: rotate(180deg);
}






